
{% extends 'base.html' %}
{% block content %}


<div class="card mb-3 text-center" style='margin-top:250px;width:1200px;margin-left:auto;margin-right:auto;'>
    <div class="card-body">
      <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Patronymic</th>
                <th scope="col">Books</th>
              </tr>
            </thead>
            <tbody>
                {% for author in author_list %}
                <tr>
                    <th>{{author.id}}</th>
                    <td><a href="{% url 'author-details' author.id %}">{{author.name}}</a></td>
                    <td>{{author.surname}}</td>
                    <td>{{author.patronymic}} </td>
                    <td>{{author.get_books}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          </div>
    </div>
  </div>
{% endblock %}
