{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 text-center" style='margin-top:250px;width:1200px;margin-left:auto;margin-right:auto;'>
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Authors</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{book.id}}</th>
                    <td>{{book.name}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.get_authors}}</td>
                    <td>{{book.count}}</td>
                </tr>
    
            
            </tbody>
          </table>
    </div>
  </div>
{% endblock %}
